<?xml version="1.0" encoding="UTF-8"?>
<configuration>    
	<system.web>
		<authentication mode="Windows" />
		<identity impersonate="true" />
	</system.web>
    <system.webServer>
        <httpErrors defaultPath="/500.asp" defaultResponseMode="ExecuteURL" />
    </system.webServer>
</configuration>
